.registration {
    background-image: repeating-linear-gradient(-45deg, rgba(63, 63, 59, .4) 0px 3px, transparent 3px 5px), url("../images/photos/registration.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 56px;

    &_title {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 26px;
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        text-align: center;
        margin-bottom: 20px;

        &--colortext {
            color: $decor-color;
        }

        &--pozition {
            display: block;
         }
    }
}

.registration_discription {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    margin: 0 auto;
    width: 240px;
}

.registration-form {
    width: 280px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registration-form_list {
     margin-bottom: 40px;
     list-style: none;
 }

.registration-form_list:nth-last-child {
    margin-bottom: 0;
}

.input {
    width: 280px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 10px;
}

.input::placeholder {
    color: rgb(255,255,255);
}

.input:required:focus:invalid {
    border: 2px solid red;
    outline: none;
}

.input:required:focus:valid {
    border: 2px solid green;
    outline: none;
 }

.input::placeholder:focus {
    text-transform: lowercase;
}

.button-action {
    width: 250px;
    height: 48px;
    border: none;
    background-color: $decor-color;
    color: $secondary-color;
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1.43px;
    display: block;
    margin: 0 auto;
}
@media (min-resolution: 192dpi) {
    .registration {
      background-image: repeating-linear-gradient(-45deg, rgba(63, 63, 59, .4) 0px 3px, transparent 3px 5px), url("../images/photos/registration@2x.png");
    }
  }
@media screen and (min-width: 768px) {
    .registration {
    padding-top: 55px;
    padding-bottom: 62px;
    background-image: repeating-linear-gradient(-45deg, rgba(63, 63, 59, .4) 0px 3px, transparent 3px 5px), url("../images/photos/registration-tablet.png");
    }

    .registration_title {
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 38px;
        width: 540px;
        margin: 0 auto;
    }

    .registration_title-pozition {
        display: inline;
    }

    .registration_title-tab {
        display: block;
    }

    .registration_discription {
        width: 461px;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 20px;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .registration_span {
        display: block;
    }

    .registration-form {
        width: 400px;
        margin: 0 auto;
    }

    .input {
        width: 400px;
        height: 50px;
    }
}
@media (min-resolution: 192dpi) {
    .registration {
      background-image: repeating-linear-gradient(-45deg, rgba(63, 63, 59, .4) 0px 3px, transparent 3px 5px), url("../images/photos/registration-tablet@2x.png");
    }
  }

@media screen and (min-width: 1280px) {
    .registration {
        height: 753px;
        padding-top: 74px;
        padding-bottom: 89px;
        background-image: repeating-linear-gradient(-45deg, rgba(63, 63, 59, .4) 0px 3px, transparent 3px 5px), url("../images/photos/registration-desk.png");
    }

    .registration_title {
        width: 1011px;
        font-size: 38px;
        letter-spacing: 2px;
        line-height: 50px;
        }

    .registration_discription {
        font-size: 18px;
        line-height: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 550px;
    }

    .registration-form {
        width: 620px;
    }

    .input {
        width: 620px;
        height: 70px;
    }

    @media (min-resolution: 192dpi) {
        .registration {
          background-image: repeating-linear-gradient(-45deg, rgba(63, 63, 59, .4) 0px 3px, transparent 3px 5px), url("../images/photos/registration-desk@2x.png");
        }
      }
 }
