@mixin section-title-style($ff: "Montserrat", $fs: 42px, $fw: bold, $lh: 1.489, $ls: 2.1px) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

//  @mixin section-items($ff, $fs, $fw, $lh, $ls) {
//   $font-family: "Montserrat", sans-serif;
//   $font-size: 18px;
//   $font-weight: bold;
//   $line-height: 1.556;
//   $letter-spasing: 0.9;
// }
