@mixin section-title-style($ff, $fs, $fw, $lh, $ls) {
  $font-family: "Montserrat", sans-serif;
  $font-size: 42px;
  $font-weight: bold;
  $line-height: 1.489;
  $letter-spasing: 2.1px;
}

//  @mixin section-items($ff, $fs, $fw, $lh, $ls) {
//   $font-family: "Montserrat", sans-serif;
//   $font-size: 18px;
//   $font-weight: bold;
//   $line-height: 1.556;
//   $letter-spasing: 0.9;
// }
